<section class="second-info">
  <div class="top_info">
    <p class="title">Explora el Mundo con Nuestra Agencia de Viajes</p>
    <p class="text">
      Descubre destinos inesperados y vive experiencias memorables con nosotros
    </p>
  </div>

  <br />
  <div class="center-info">
    <div class="experence">
      <p
        class="number"
        style="font-size: 120px; font-weight: 500; color: #001b46; margin: 0"
      >
        30
      </p>
      <p class="years" style="font-weight: bold; color: #001b46">
        Años de Pasión por los Viajes
      </p>
      <p class="sub" style="color: #babbbf; font-weight: 500">
        Conocedores profundos de cada rincón, diseñamos itinerarios que te
        transportan a mundos lejanos y cercanos, descubriendo lo más auténtico
        de cada lugar.
      </p>
    </div>
    <img
      class="linda"
      src="../../../assets/images/travel/smiling-businesswoman-with-luggage-checking-her-boarding-pass.webp"
      alt=""
    />

    <div class="right">
      <img
        class="rdoctor"
        src="../../../assets/icons/doctor.webp"
        alt="Viaje"
      />
      <br />
      <p class="bold">
        Nuestro objetivo es ofrecerte experiencias de viaje excepcionales,
        llenas de aventura y descubrimiento. Nos esforzamos por ser tu primera y
        mejor elección para explorar nuevos destinos.
      </p>
      <p style="color: #babbbf; font-weight: 500">
        Diseñamos itinerarios personalizados que se adapten a tus intereses y
        expectativas, asegurando que cada viaje sea una experiencia única y
        memorable. Estamos comprometidos a proporcionarte la mejor atención y
        asesoramiento para que encuentres el destino perfecto.
      </p>
    </div>
  </div>
</section>
