<section class="second-info">
  <div class="top_info">
    <p class="title">Ayudando a Pacientes de Todo el Mundo</p>
    <p class="text">
      Mejorando la calidad de su vida a través de una mejor salud
    </p>
  </div>

  <br />
  <div class="center-info">
    <div class="experence">
      <p
        class="number"
        style="font-size: 120px; font-weight: 500; color: #001b46; margin: 0"
      >
        30
      </p>
      <p class="years" style="font-weight: bold; color: #001b46">
        Años de experiencia
      </p>
      <p class="sub" style="color: #babbbf; font-weight: 500">
        Ofrecemos una amplia gama de cuidados, atención y apoyo a nuestros
        pacientes, desde el diagnóstico hasta la rehabilitación.
      </p>
    </div>
    <img class="linda" src="../../../assets/images/linda.webp" alt="" />

    <div class="right">
      <img
        class="rdoctor"
        src="../../../assets/icons/doctor.webp"
        alt="Respiracion"
      />
      <br />
      <p class="bold">
        Nuestro objetivo es brindar calidad de atención de manera cortés, manera
        respetuosa y compasiva. Esperamos que lo hagas permítanos cuidar de
        usted y ser los primeros y mejores elección para la atención médica
      </p>
      <p style="color: #babbbf; font-weight: 500">
        Trabajaremos con usted para desarrollar planes de atención
        individualizados, incluido el manejo de enfermedades. Estamos
        comprometidos a ser la principal red de atención médica de la región y
        brindamos atención centrada en el paciente que inspira la excelencia en
        los servicios.
      </p>
    </div>
  </div>

  <br />
  <footer style="display: flex; justify-content: center; align-items: center">
    <img src="../../assets/images/logo_web.webp" alt="Medcity Logo" />
    Nuestro objetivo es brindar calidad de atención de manera continua,
    respetuosa y compasiva. Esperamos que nos permita cuidar de usted y
    esforzarnos por ser la primera y mejor opción para la atención médica de su
    familia.
  </footer>
</section>
