<section class="boxes">
  <div class="box" style="border-radius: 20px 0 0 20px">
    <img src="../../../assets/icons/jeringa.png" alt="Respiracion" />
    <p class="cluve">Consejos medicos & Chequeos</p>
  </div>
  <div class="box">
    <img src="../../../assets/icons/doctor.webp" alt="Respiracion" />
    <p class="cluve">Tratamiento Médico de Confianza</p>
  </div>
  <div class="box" style="border-radius: 0 20px 20px 0">
    <img src="../../../assets/icons/ambulancia.png" alt="Respiracion" />
    <p class="cluve">Ayuda de Emergencia Disponible 24/7</p>
  </div>
  <div class="last">
    <p class="title">Horario de los médicos</p>
    <p class="subtitle">
      Médicos calificados disponibles los días de la semana, según horario para
      concertar una cita.
    </p>
  </div>
</section>
