<section class="boxes">
  <div class="box" style="border-radius: 20px 0 0 20px">
    <img src="../../../assets/icons/travel/icon1.png" alt="Planificación" />
    <p class="cluve">Planificación Personalizada de Viajes</p>
  </div>
  <div class="box">
    <img src="../../../assets/icons/travel/icon2.png" alt="Seguridad" />
    <p class="cluve">Garantía de Seguridad en Cada Viaje</p>
  </div>
  <div class="box" style="border-radius: 0 20px 20px 0">
    <img src="../../../assets/icons/travel/icon3.png" alt="Asistencia" />
    <p class="cluve">Asistencia 24/7 Durante Tu Viaje</p>
  </div>
  <div class="last">
    <p class="title">Nuestros Horarios de Atención</p>
    <p class="subtitle">
      Disponemos de especialistas listos para ayudarte a planificar tu viaje,
      cualquier día de la semana, según horario para concertar una cita.
    </p>
  </div>
</section>
