<header class="medcity-header">
  <div class="logo">
    <img
      src="../../../assets/icons/travel/plane_1585621.png"
      alt="Travel with Julio"
    />
    <span style="font-weight: bold">Travel With Julio</span>
  </div>
  <nav class="main-nav">
    <ul>
      <li><a>Principal</a></li>
      <li><a>Ofertas de Pasajes</a></li>
      <li><a>Contacto</a></li>
      <!-- <li><a href="#sec3">Universidad</a></li> -->
    </ul>
  </nav>

  <!-- <button class="login" [routerLink]="['/auth/signin']">Inicia Sesión</button> -->
</header>
