.left_section {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  width: 1300px;
  align-items: flex-start;
  justify-content: space-between;
}

.featured-image-big {
  width: 700px;
  object-fit: cover;
  margin-bottom: 100px;
  margin-left: 90px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.text_logo {
  color: #9356e0;
  font-weight: 500;
  font-size: 23px;
}

.sleft {
  font-size: 26px;
}

/************************ Right Box ************************/

.right_section {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  padding: 80px;
}

.sright {
  font-size: 25px;
}

.form-control {
  height: 40px;
  font-size: 15px;
  font-family: "SpaceG";
}

.form-label {
  font-weight: 500;
}

.btn_submit {
  border-radius: 5px;
  background-color: #9356e0;
  color: white;
  border-color: white;
  height: 40px;
  font-size: 20px;
}

a {
  font-size: 17px;
  color: #9356e0;
}

p,
label {
  font-size: 15px;
}

input,
input::placeholder {
  font: 15px "SpaceG";
}

input[type="checkbox"]:enabled:checked {
  background-color: #9356e0;
}
