<!------------------------- Main Container ------------------------->
<div class="main_container d-flex min-vh-100" style="display: flex">
  <!--------------------------- Left Section --------------------------->
  <div class="left_section">
    <div class="logo">
      <div class="featured-image-logo">
        <img
          class="img-fluid"
          src="../../../../assets/images/icon_web.png"
          style="width: 60px"
        />
      </div>

      <p class="text_logo">UCI Clinic</p>
    </div>

    <div class="featured-image-big">
      <img class="img-fluid" src="../../../../assets/images/login.png" />
    </div>
  </div>

  <!--------------------------- Right Section --------------------------->
  <section class="right_section">
    <strong class="sright"> !Bienvenido a UCI Clinic! 👋</strong>

    <p style="color: #abb5c0; font-size: 17px">
      Vamos a verificar su cuenta personal y comenzar a administrar sus datos.
    </p>

    <article>
      <div class="inputUsername mb-2">
        <label for="inputUsername" class="form-label">Nombre de usuario</label>

        <input
          placeholder="john_doe"
          type="text"
          [(ngModel)]="user.username"
          class="form-control"
          id="inputUsername"
          name="inputUsername"
          required
        />
      </div>

      <div class="inputPassword mb-2">
        <label for="inputPassword" class="form-label"
          >Contraseña de sesión</label
        >

        <input
          placeholder="********"
          type="password"
          [(ngModel)]="user.password"
          class="form-control"
          id="inputPassword"
          name="inputPassword"
          required
        />
      </div>
    </article>

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        id="flexCheckChecked"
        checked
      />
      <label class="form-check-label" for="flexCheckChecked">
        Recuerdame
      </label>
    </div>

    <br />

    <button class="btn_submit mb-2" (click)="makeLogin()">Acceder</button>
    <p>Aún no tienes cuenta? <a href="/auth/signup">Crear Cuenta</a></p>
  </section>
</div>
