<!------------------------- Main Container ------------------------->
<div class="main_container d-flex min-vh-100" style="display: flex">
  <!--------------------------- Left Section --------------------------->
  <div class="left_section">
    <strong class="sleft"
      >Administra toda tu actividad social, trabaja de manera eficiente</strong
    >

    <div class="featured-image">
      <img
        class="img-fluid"
        src="../../../../assets/images/nurse-doctor.png"
        style="width: 350px"
      />
    </div>
  </div>

  <!--------------------------- Right Section --------------------------->
  <section class="right_section">
    <strong class="sright">
      Obtnen tu cuenta gratuita dentro del sistema
    </strong>

    <p style="color: #abb5c0; font-size: 17px; width: 700px">
      Vamos a configurarlo todo. Puede verificar su cuenta personal y comenzar a
      configurar su perfil.
    </p>

    <div class="d-flex d-row">
      <p class="me-3">Usted es:</p>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          value="0"
          [(ngModel)]="user.occupation"
          name="radioDoctor"
          id="radioDoctor"
          checked
        />
        <label class="form-check-label" for="radioDoctor">
          Doctora - Doctor
        </label>
      </div>
      <div class="form-check ms-5">
        <input
          class="form-check-input"
          type="radio"
          value="1"
          [(ngModel)]="user.occupation"
          name="radioNurse"
          id="radioNurse"
        />
        <label class="form-check-label" for="radioNurse"> Enfermera </label>
      </div>
    </div>

    <div class="d-flex d-row">
      <article>
        <div class="inputRegMed mb-4">
          <label for="inputRegNum" class="form-label"
            >Número de Registro Médico</label
          >

          <input
            placeholder="1234ABCD"
            type="text"
            [(ngModel)]="user.reg_med"
            class="form-control"
            id="inputRegNum"
            name="inputRegNum"
            required
          />
        </div>

        <div class="inputName mb-4">
          <label for="inputName" class="form-label">Nombre Completo</label>

          <input
            placeholder="Pedro Perez Perez"
            type="text"
            [(ngModel)]="user.nombre"
            class="form-control"
            id="inputName"
            name="inputName"
            required
          />
        </div>

        <div class="inputAddre mb-4">
          <label for="inputAddress" class="form-label"
            >Dirección Particular</label
          >

          <input
            placeholder="Cuidad de la Habana, Cuba"
            type="text"
            class="form-control"
            [(ngModel)]="user.direccion"
            id="inputAddress"
            name="inputAddress"
            required
          />
        </div>

        <div class="inputPN mb-4">
          <label for="inputPhoneNumber" class="form-label"
            >Número telefónico de contacto</label
          >

          <input
            placeholder="+53 50000000"
            type="text"
            class="form-control"
            id="inputPhoneNumber"
            [(ngModel)]="user.num_telefono"
            aria-label="infodHelpBlock"
            name="inputPhoneNumber"
            required
            minlength="12"
            maxlength="12"
            pattern="^\d+$"
          />
        </div>
      </article>

      <article>
        <div class="inputClinicName mb-4 ms-5">
          <label for="inputClinicName" class="form-label"
            >Consultorio que atiende</label
          >

          <input
            placeholder="Consultorio de la UCI"
            type="text"
            [(ngModel)]="user.su_consultorio"
            class="form-control"
            id="inputClinicName"
            name="inputClinicName"
            required
          />
        </div>

        <div *ngIf="user.occupation === '0'; else forNurse">
          <div class="inputYear mb-4 ms-5">
            <label for="inputYear" class="form-label">Años de graduado</label>

            <input
              placeholder="13"
              type="text"
              [(ngModel)]="user.anno_grad"
              class="form-control"
              id="inputYear"
              name="inputYear"
              required
            />
          </div>

          <div class="form-check form-switch ms-5">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              [(ngModel)]="user.especialista"
              id="flexSwitchCheckChecked"
              checked
            />
            <label class="form-check-label" for="flexSwitchCheckChecked"
              >Es especialista?</label
            >
          </div>
        </div>
      </article>
    </div>

    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckDefault"
      />
      <label class="form-check-label" for="flexCheckDefault">
        Estoy de acuerdo con los Terminos de Uso y la Políca de Privacidad
      </label>
    </div>

    <br />

    <button class="btn_submit mb-2" (click)="registerUser()">
      Crear Cuenta
    </button>
    <p>Ya tienes cuenta? <a href="/auth/signin">Inicia Sesión</a></p>
  </section>
</div>

<ng-template #forNurse>
  <div class="inputExp mb-4 ms-5">
    <label for="inputExp" class="form-label">Años de experiencia</label>

    <input
      placeholder="13"
      [(ngModel)]="user.anno_exp"
      type="text"
      class="form-control"
      id="inputExp"
      name="inputExp"
      required
    />
  </div>

  <div class="inputCat mb-4 ms-5">
    <label for="inputCat" class="form-label">Categoría</label>

    <input
      placeholder="Enfermera con carrera técnica"
      type="text"
      [(ngModel)]="user.categoria"
      class="form-control"
      id="inputCat"
      name="inputCat"
      required
    />
  </div>
</ng-template>
