.left_section {
  display: flex;
  flex-direction: column;
  background-color: #d9f0ff;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  width: 30%;
  border-right: 1px solid #b9c0c6e4;
  align-items: center;
  justify-content: center;
}

.sleft {
  font-size: 26px;
}

/************************ Right Box ************************/

.right_section {
  padding-top: 30px;
  padding-left: 80px;
  width: 70%;
}

.sright {
  font-size: 25px;
}

.form-control {
  width: 300px;
  height: 40px;
  font-size: 15px;
  font-family: "SpaceG";
}

.form-label {
  font-weight: 500;
}

.btn_submit {
  border-radius: 5px;
  background-color: #0088ff;
  color: white;
  border-color: white;
  width: 160px;
  height: 40px;
  font-size: 20px;
}

a {
  font-size: 16px;
  color: #0088ff;
}

p,
label {
  font-size: 16px;
}

input,
input::placeholder {
  font: 15px "SpaceG";
}
