<div box-step class="each_step">
  <div class="d-flex d-row">
    <ng-container [ngSwitch]="stepStatus">
      <i
        *ngSwitchCase="'Completado'"
        id="i_completado"
        class="bi bi-check-circle"
      ></i>
      <i
        *ngSwitchCase="'En Progreso'"
        id="i_en-progreso"
        class="bi bi-stopwatch"
      ></i>
      <i
        *ngSwitchCase="'Pendiente'"
        id="i_pendiente"
        class="bi bi-menu-button-wide"
      ></i>
    </ng-container>
  </div>
  <p class="p_step">{{ stepNumber }}</p>
  <strong class="step_name">{{ stepName }}</strong>
  <span class="step_status">{{ stepStatus }}</span>
</div>
