.each_step {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  width: 220px;
  padding: 10px;
}

.each_step.completado {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.each_step.en-progreso {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
}

.each_step.pendiente {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.each_step .step_status {
  font-size: 12px;
  border-radius: 15px;
  padding: 5px 10px;
}

.each_step .p_step {
  margin: 0;
  font-size: 13px;
  color: #abb5c0;
}

.each_step .step_name {
  font-size: 15px;
  margin-bottom: 10px;
}

.each_step.completado .step_status {
  color: #32c27c;
  background-color: #dafdeb;
}

.each_step.en-progreso .step_status {
  color: #6761cd;
  background-color: #eff1fe;
}

.each_step.pendiente .step_status {
  color: #d1d2d6;
  border: 1px solid #d1d2d6;
  background-color: white;
}

.each_step.pendiente .step_name {
  color: #bec0c2;
}

/* Iconos */
.each_step i {
  margin-right: 12px;
  font-size: 25px;
}

.each_step.completado i {
  color: #21c173;
}

.each_step.en-progreso i {
  color: #3f3df8;
}

.each_step.pendiente i {
  color: #d1d2d6;
}

/* Ocultar iconos según estado */
.each_step.completado #i_en-progreso,
.each_step.completado #i_pendiente,
.each_step.en-progreso #i_completado,
.each_step.en-progreso #i_pendiente,
.each_step.pendiente #i_completado,
.each_step.pendiente #i_en-progreso {
  visibility: hidden;
}
