<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
  </head>
  <body class="mainCnt">
    <!----------------------- Main Container -------------------------->

    <div
      class="container d-flex justify-content-center align-items-center min-vh-100"
    >
      <!----------------------- Login Container -------------------------->

      <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <!--------------------------- Left Box ----------------------------->

        <div
          class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
          style="background: #ffffff"
        >
          <div class="featured-image mb-3">
            <img
              class="img-fluid"
              src="../../../../assets/images/forgot_password.jpg"
              style="width: 500px"
            />
          </div>
        </div>

        <!-------------------- ------ Right Box ---------------------------->

        <div class="col-md-6 right-box">
          <div class="row align-items-center">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
              <button
                type="button"
                (click)="navigateTo('/auth/signin')"
                class="btn btn-outline-primary rounded-4 btn-sm mb-3"
              >
                Go back
              </button>
            </div>

            <div *ngIf="!isWaitingForCode; else confirmCode" class="container">
              <div class="header-text mb-2">
                <h2>Let's recover your password!</h2>
                <p>
                  We are going to send you a 5-digit code to your email to help
                  you recover your password.
                </p>
              </div>

              <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="addon-wrapping">
                  <i class="bi bi-house"></i>
                </span>

                <input
                  type="text"
                  class="form-control"
                  placeholder="Clinic Name"
                  aria-label="Clinic Name"
                  aria-describedby="addon-wrapping"
                  name="name"
                  id="clinic_text"
                />
              </div>

              <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="addon-wrapping">
                  <i class="bi bi-envelope-at"></i>
                </span>

                <input
                  type="text"
                  class="form-control"
                  placeholder="Email address"
                  aria-label="Email address"
                  aria-describedby="addon-wrapping"
                  name="name"
                  id="mail_text"
                />
              </div>

              <div class="d-grid gap-2 col-6 mx-auto">
                <button
                  type="button"
                  class="btn btn-primary btn-sm"
                  (click)="sendRocoveryRequest()"
                >
                  Send my the code
                  <i class="bi bi-check2-square"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<ng-template #confirmCode>
  <div class="container">
    <div class="header-text mb-2">
      <h2>Confirmation number!</h2>
      <p>
        Check your inbox and enter the 5-digit code you should have received
        here.
      </p>
    </div>

    <div class="input-group flex-nowrap mb-3">
      <span class="input-group-text" id="addon-wrapping">
        <i class="bi bi-hash"></i>
      </span>

      <input
        type="text"
        class="form-control"
        placeholder="Code received"
        aria-label="Code received"
        aria-describedby="addon-wrapping"
        name="name"
        id="confirmationCode"
      />
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        (click)="recoverPassword()"
      >
        Done
        <i class="bi bi-check2-square"></i>
      </button>
    </div>
  </div>
</ng-template>
