<!------------------------- Main Container ------------------------->
<div class="main_container d-flex min-vh-100">
  <!--------------------------- Left Section --------------------------->
  <div class="left_section">
    <strong class="sright" style="font-size: 30px">
      Olvidaste tú contraseña? 🧐</strong
    >
    <p style="color: #abb5c0; font-size: 17px; width: 450px">
      Despreocupate! Te ayudaremos a recuperar tu cuenta. Solo debes completar
      el siguiente proceso
    </p>

    <div class="featured-image-big">
      <img
        class="img-fluid"
        src="../../../../assets/images/reset.png"
        style="width: 450px"
      />
    </div>

    <p style="width: 100%; text-align: center">
      La recordaste? <a href="/auth/signin">Inicia sesion</a>
    </p>
  </div>

  <!--------------------------- Right Section --------------------------->
  <section class="right_section">
    <header class="step_by_step mb-5">
      <span *ngFor="let step of step_list">
        <step-by-step
          [stepNumber]="step.stepNumber"
          [stepName]="step.stepName"
          [stepStatus]="step.stepStatus"
        ></step-by-step>
      </span>
    </header>
    <ng-container *ngTemplateOutlet="crear_pass"></ng-container>
  </section>
</div>

<ng-template #email_form>
  <header>
    <strong>Necesitamos verificar tu correo electrónico 🙏</strong>
    <p style="width: 600px; color: #abb5c0">
      El primer paso será hacer esta verificación. Por favor, escribe el correo
      vinculado a tu cuenta en UCI Clinic
    </p>
  </header>

  <form action="submit">
    <div class="input-group flex-nowrap mb-3" style="width: 350px">
      <span class="input-group-text" id="addon-wrapping">
        <i class="bi bi-envelope-at"></i>
      </span>

      <input
        type="text"
        class="form-control"
        placeholder="Email address"
        aria-label="Email address"
        aria-describedby="addon-wrapping"
        name="name"
        id="mail_text"
      />
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        (click)="sendRocoveryRequest()"
      >
        Send my the code
        <i class="bi bi-check2-square"></i>
      </button>
    </div>
  </form>
</ng-template>

<ng-template #code_verify>
  <header>
    <strong>Revisa tu bandeja de entrada 🙏</strong>
    <p style="width: 600px; color: #abb5c0">
      Casi terminamos! 🙌. Hemos enviado un código de verificación a tu correo
      electrónico. Necesitamos que lo escribas aqui debajo 👇
    </p>
  </header>

  <form action="submit">
    <div class="input-group flex-nowrap mb-3" style="width: 350px">
      <span class="input-group-text" id="addon-wrapping">
        <i class="bi bi-envelope-at"></i>
      </span>

      <input
        type="text"
        class="form-control"
        placeholder="Código de verificación"
        aria-label="Código de verificación"
        aria-describedby="addon-wrapping"
        name="codeV"
        id="code_verify"
      />
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        (click)="sendRocoveryRequest()"
      >
        Verificar
        <i class="bi bi-check2-square"></i>
      </button>
    </div>
  </form>
</ng-template>

<ng-template #crear_pass>
  <header>
    <strong style="font-size: 23px">Último paso 🥳</strong>
    <p style="width: 600px; color: #abb5c0">
      Todo listo con tu identidad 👍, ya sabemos quien eres 🥳. Ahora viene la
      mejor parte:
      <strong style="color: black">Crear tú nueva contraseña</strong> 🧑‍💻
    </p>
  </header>

  <form action="submit">
    <div class="input-group flex-nowrap mb-3" style="width: 350px">
      <span class="input-group-text" id="addon-wrapping">
        <i class="bi bi-envelope-at"></i>
      </span>

      <input
        type="text"
        class="form-control"
        placeholder="Nueva Contraseña"
        aria-label="Nueva Contraseña"
        aria-describedby="addon-wrapping"
        name="newP"
        id="new_password"
      />
    </div>

    <div class="input-group flex-nowrap mb-3" style="width: 350px">
      <span class="input-group-text" id="addon-wrapping">
        <i class="bi bi-envelope-at"></i>
      </span>

      <input
        type="text"
        class="form-control"
        placeholder="Repite la Contraseña"
        aria-label="Repite la Contraseña"
        aria-describedby="addon-wrapping"
        name="twoP"
        id="two_password"
      />
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        (click)="sendRocoveryRequest()"
      >
        Listo
        <i class="bi bi-check2-square"></i>
      </button>
    </div>
  </form>
</ng-template>
