<!------------------------- Main Container ------------------------->
<div class="main_container d-flex min-vh-100">
  <!--------------------------- Left Section --------------------------->
  <div class="left_section">
    <strong class="sright" style="font-size: 30px">
      Olvidaste tú contraseña? 🧐</strong
    >
    <p style="color: #abb5c0; font-size: 15px; width: 400px">
      Despreocupate! Te ayudaremos a recuperar tu cuenta. Solo debes completar
      el siguiente proceso
    </p>

    <div class="featured-image-big">
      <img
        class="img-fluid"
        src="../../../assets/images/reset.webp"
        style="width: 450px"
      />
    </div>

    <p style="width: 100%; text-align: center">
      La recordaste? <a href="/auth/signin">Inicia sesion</a>
    </p>
  </div>

  <!--------------------------- Right Section --------------------------->
  <section class="right_section">
    <step-by-step></step-by-step>

    <form data-multi-step>
      <div class="card" data-step>
        <header>
          <strong>Necesitamos verificar tu correo electrónico 🙏</strong>
          <p style="width: 600px; color: #abb5c0">
            El primer paso será hacer esta verificación. Por favor, escribe el
            correo vinculado a tu cuenta en UCI Clinic
          </p>
        </header>

        <form action="submit">
          <div class="input-group flex-nowrap mb-3" style="width: 350px">
            <span class="input-group-text" id="addon-wrapping">
              <i class="bi bi-envelope-at"></i>
            </span>

            <input
              type="email"
              class="form-control"
              placeholder="Email address"
              required
              aria-label="Email address"
              aria-describedby="addon-wrapping"
              name="email"
              id="mail_text"
            />
          </div>

          <div class="d-grid gap-2 col-6 mx-auto">
            <button
              type="button"
              next-step
              (click)="sendRocoveryRequest()"
              class="btn btn-primary btn-sm"
            >
              Send my the code
              <i class="bi bi-check2-square"></i>
            </button>
          </div>
        </form>
      </div>
      <div class="card" data-step>
        <header>
          <strong>Revisa tu bandeja de entrada 🙏</strong>
          <p style="width: 600px; color: #abb5c0">
            Casi terminamos! 🙌. Hemos enviado un código de verificación a tu
            correo electrónico. Necesitamos que lo escribas aqui debajo 👇
          </p>
        </header>

        <form action="submit">
          <div class="input-group flex-nowrap mb-3" style="width: 350px">
            <span class="input-group-text" id="addon-wrapping">
              <i class="bi bi-envelope-at"></i>
            </span>

            <input
              type="number"
              class="form-control"
              placeholder="Código de verificación"
              required
              aria-label="Código de verificación"
              aria-describedby="addon-wrapping"
              name="codeV"
              id="code_verify"
            />
          </div>

          <div class="d-grid gap-2 col-6 mx-auto">
            <button
              type="button"
              (click)="recoverPassword()"
              next-step
              class="btn btn-primary btn-sm"
            >
              Verificar
              <i class="bi bi-check2-square"></i>
            </button>
          </div>
        </form>
      </div>
      <div class="card" data-step>
        <header>
          <strong style="font-size: 23px">Último paso! 🙌</strong>
          <p style="width: 600px; color: #abb5c0">
            Todo listo con tu identidad 👍, ya sabemos quien eres 🥳. Ahora
            viene la mejor parte:
            <strong style="color: black">Crear tú nueva contraseña</strong> 🧑‍💻
          </p>
        </header>

        <form action="submit">
          <div class="input-group flex-nowrap mb-3" style="width: 350px">
            <span class="input-group-text" id="addon-wrapping">
              <i class="bi bi-envelope-at"></i>
            </span>

            <input
              type="password"
              class="form-control"
              placeholder="Nueva Contraseña"
              required
              aria-label="Nueva Contraseña"
              aria-describedby="addon-wrapping"
              name="newP"
              id="new_password"
            />
          </div>

          <div class="input-group flex-nowrap mb-3" style="width: 350px">
            <span class="input-group-text" id="addon-wrapping">
              <i class="bi bi-envelope-at"></i>
            </span>

            <input
              type="password"
              class="form-control"
              placeholder="Repite la Contraseña"
              required
              aria-label="Repite la Contraseña"
              aria-describedby="addon-wrapping"
              name="twoP"
              id="two_password"
            />
          </div>

          <div class="d-grid gap-2 col-6 mx-auto">
            <button
              type="button"
              next-step
              class="btn btn-primary btn-sm"
              (click)="changePassword()"
            >
              Listo
              <i class="bi bi-check2-square"></i>
            </button>
          </div>
        </form>
      </div>
      <div class="card" data-step>
        <header>
          <strong>!Wow! Todo perfecto 👏</strong>
          <p style="width: 600px; color: #abb5c0">
            Tu contraseña ha sido cambiada con éxito. Gracias por haber
            completado todos los pasos del proceso 🤝
          </p>
        </header>

        <div class="d-grid gap-2 col-6 mx-auto">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            (click)="navigateTo('/auth/signin')"
          >
            Iniciar sesión con la nueva contraseña
            <i class="bi bi-check2-square"></i>
          </button>
        </div>
      </div>
    </form>
  </section>
</div>
