<section class="main">
  <div class="left-container">
    <p style="color: #8d8e92; padding: 0 80px">
      Servir a la comunidad mejorando la calidad de vida a través de una mejor
      salud. Implementamos protocolos para proteger a nuestros pacientes y
      personal mientras continuamos brindando atención médicamente necesaria.
    </p>

    <div class="other">
      <p class="title">
        Comprometidos a construir una cultura positiva, segura y centrada en el
        paciente.
      </p>
      <p class="sub">
        Nos dedicamos a cultivar un entorno que valora la seguridad, la
        positividad y el enfoque en el paciente, conscientes de la necesidad de
        priorizar su salud y bienestar en cada paso que damos.
      </p>

      <br />

      <div class="done-group">
        <div class="group">
          <span>
            <i class="bi bi-check-circle-fill"></i>
            Fracturas y Dislocaciones
          </span>
          <span>
            <i class="bi bi-check-circle-fill"></i>
            Inyecciones de Desenalitaciones
          </span>

          <span>
            <i class="bi bi-check-circle-fill"></i>
            Revisión de Medicina Casera
          </span>
        </div>

        <div class="group">
          <span>
            <i class="bi bi-check-circle-fill"></i>
            Cuidado de Alta Calidad
          </span>
          <span>
            <i class="bi bi-check-circle-fill"></i>
            Asistencia Médica
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="right-container"></div>
</section>
