<section class="main">
  <div class="left-container">
    <p style="color: #8d8e92; padding: 0 80px">
      Servir a la comunidad mediante experiencias de viaje excepcionales que
      mejoren la calidad de vida. Implementamos protocolos para garantizar la
      seguridad y comodidad tanto de nuestros clientes como del equipo, mientras
      ofrecemos servicios turísticos de alta calidad.
    </p>

    <div class="other">
      <p class="title">
        Comprometidos a construir una cultura positiva, segura y centrada en el
        cliente.
      </p>
      <p class="sub">
        Nos dedicamos a cultivar un entorno que valora la seguridad, la
        satisfacción del cliente y el enfoque en proporcionar experiencias de
        viaje inolvidables, conscientes de la necesidad de priorizar su
        bienestar y comodidad en cada detalle de nuestra oferta.
      </p>

      <br />

      <div class="done-group">
        <div class="group">
          <span>
            <i class="bi bi-check-circle-fill"></i>
            Fracturas y Dislocaciones
          </span>
          <span>
            <i class="bi bi-check-circle-fill"></i>
            Inyecciones de Desenalitaciones
          </span>

          <span>
            <i class="bi bi-check-circle-fill"></i>
            Revisión de Medicina Casera
          </span>
        </div>

        <div class="group">
          <span>
            <i class="bi bi-check-circle-fill"></i>
            Cuidado de Alta Calidad
          </span>
          <span>
            <i class="bi bi-check-circle-fill"></i>
            Asistencia Médica
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="right-container"></div>
</section>
