<div class="d-flex min-vh-100">
  <div class="father_div">
    <section class="side_menu">
      <div>
        <div class="logo d-flex d-row mb-5">
          <div class="featured-image-logo">
            <img
              class="img-fluid"
              src="../../../../assets/images/icon_web.png"
              style="width: 60px"
            />
          </div>

          <p class="text_logo">UCI Clinic</p>
        </div>

        <ul>
          <li>Principal</li>
          <li>Calendario</li>
          <li>Perfil</li>
        </ul>
      </div>

      <div style="width: 100%">
        <button
          class="btn btn-primary"
          style="width: 120px; height: 40px"
          (click)="navigateTo('auth/signin')"
        >
          Cerrar sesion
        </button>
      </div>
    </section>
    <div class="main_div">
      <header>header</header>
      <main>contenido principal</main>
    </div>
  </div>
</div>
