@font-face {
  font-family: 'Dosis';
  src: url('./assets/font/Dosis-VariableFont_wght.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6,
small,
input,
span,
input::placeholder,
label,
p {
    font-family: 'Dosis';
    font-size: larger;
}